<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile</title>
    <!-- BOOTSTRAP CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="/style.css"> -->
    
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Golos+Text:wght@800&family=IBM+Plex+Sans&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap" rel="stylesheet">
</head>


<body>
    <!-- upper bar -->
    <div>
        <div>
            <div class="card-body" style="font-size:30px; background-color: rgba(255, 255, 255, 0.347);">
                <h1 class="fixed" style= "font-size:40px; color:white;">HEALTHCLUB</h1><center>
                <a style='color:rgb(0, 0, 0);'href="/">Home</a> &nbsp;&nbsp;
                <a style='color:rgb(0, 0, 0);' href="/schedule">Schedule</a> &nbsp;&nbsp;
                <a style='color:rgb(0, 0, 0);' href="/rating">Rating</a> &nbsp;&nbsp;
                <a style='color:rgb(0, 0, 0);' href="report">Report</a> &nbsp;&nbsp;
                <a style='color:rgb(0, 0, 0);' href="/bookinglist">Booking cart</a> &nbsp;&nbsp;
                <a style='color:rgb(0, 0, 0);' href="/profile"><%= name %></a> &nbsp;&nbsp;
                <a href="/logout" class="btn btn-danger">Logout</a></center>
            </div>
            <div>
                
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="cenpro">
        <div class="mainpro">

            <p style='color:rgb(0, 0, 0);' >Name: <%= name %></p> 
            <p style='color:rgb(0, 0, 0);' >E-mail: <%= email %></p> 
            <p style='color:rgb(0, 0, 0);' >Gender: <%= gender %></p> 
            <p style="color:black">Age: <%=age %></p>
            <p style='color:rgb(0, 0, 0);' >Date of Birth: <%= date_of_birth.toDateString() %></p> 
            <p style='color:rgb(0, 0, 0);' >Payment schedule: <%= payment_schedule.toDateString() %></p> 
            <p>Point: <%=point_account %></p>

            <a href="/edit-profile"><button class="button"> Edit</button></a>
            
            
            
            



        </div>
    </div>


    <!-- body -->

</body>
</html>